!.vscode/extensions.json
!.vscodeextensions.json
!.vscodelaunch.json
!.vscodesettings.json
!.vscodetasks.json
*.launch
*.local
*.log
*.njsproj
*.ntvs*
*.pid
*.pid.lock
*.seed
*.sln
*.sublime-workspace
*.suo
*.sw?
.DS_Store
.c9
.classpath
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.idea
.nyc_output
.project
.settings
.temp
.tmp
.vscode*
.vscode/*
build
coverage
dist
dist-ssr
lerna-debug.log*
logs
node_modules
npm-debug.log*
pids
pnpm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
yarn-debug.log*
yarn-error.log*
.eslintcache